.App {
  text-align: center;
  width: 80%;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  align-content: center;
}

.search-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.react-datepicker-wrapper {
  width: 200px; 
}

img {
  width: 100%; 
  max-width: 600px; 
  height: auto;
  margin: 0 auto; 
  display: block; 
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 10px;
}

.error {
  color: red;
  font-weight: bold;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .gallery-item {
    flex-basis: calc(50% - 20px);
  }
}
